@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-secondary: #06B6D4;
  --color-accent: #8B5CF6;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}